.tab5-content {
    --background: radial-gradient(circle, rgba(244,210,217,1) 5%, rgba(246,0,61,1) 88%);
}

.tab5-content {
    --background: radial-gradient(circle, rgba(244,210,217,1) 5%, rgba(246,0,61,1) 88%);
  }
  
  ion-card {
    margin: 10px, 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9);
  }
  
  ion-card-header {
    text-align: center;
  }
  
  ion-card-title {
    font-family: 'GleeFont', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
  }